<h2>
    Games
    <span style="float:right">Filter: <input ng-model="playerFilter" autofocus/></span>
</h2>
<div ng-include="'fragments/loading.html'"></div>
<div ng-if="loaded">
    <br/>
    <div style="float:left">
        <h3>Pending Games [{{pendingGames.length}}]</h3>
        <table style="margin: 10px">
            <thead>
                <tr>
                    <th>Home team</th>
                    <th>Score</th>
                    <th></th>
                    <th>Score</th>
                    <th>Guest team</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="game in pendingGames | filter:playerFilter">
                <tr>
                    <td>{{game.team1Player1.split('@')[0]}}
                        <br/>{{game.team1Player2.split('@')[0]}}</td>
                    <td>
                        <select ng-model="game.team1Score" ng-options="score for score in [1,2,3,4,5,6,7,8,9,10]">
                        </select>
                    </td>
                    <td>vs</td>
                    <td>
                        <select ng-model="game.team2Score" ng-options="score for score in [1,2,3,4,5,6,7,8,9,10]">
                        </select>
                    </td>
                    <td align="right">{{game.team2Player1.split('@')[0]}}
                        <br/>{{game.team2Player2.split('@')[0]}}</td>
                    <td>
                        <a href="" ng-click="submitScore(game)" ng-show="game.team2Score && game.team1Score">Submit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="float:left">
        <h3>Completed Games [{{completedGames.length}}]</h3>
        <table style="margin: 10px">
            <thead>
                <tr>
                    <th>Home team</th>
                    <th>Score</th>
                    <th></th>
                    <th>Score</th>
                    <th>Guest team</th>
                </tr>
            </thead>
            <tbody ng-repeat="game in completedGames | filter:playerFilter">
                <tr>
                    <td>{{game.team1Player1.split('@')[0]}}
                        <br/>{{game.team1Player2.split('@')[0]}}</td>
                    <td align="right">{{game.team1Score}}</td>
                    <td>vs</td>
                    <td>{{game.team2Score}}</td>
                    <td align="right">{{game.team2Player1.split('@')[0]}}
                        <br/>{{game.team2Player2.split('@')[0]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="clear: both">
        <h3>Finale</h3>
        <table>
            <thead>
                <th>Home team</th>
                <th>Score</th>
                <th></th>
                <th>Score</th>
                <th>Guest team</th>
                <th>Action</th>
            </thead>
            <tbody>
                <td colspan="6">Best four players will advance to the finale!</td>
            </tbody>
        </table>
    </div>
</div>