<h2>
    Leader Board
    <span style="float:right">Filter:
        <input ng-model="playerFilter" autofocus/>
    </span>
</h2>
<div ng-include="'./fragments/loading.html'"></div>
<div ng-if="loaded">
    <br/>
    <div style="float: left">
        <h3>Current Finalists (subject to change)</h3>
        <table style="margin: 10px">
            <thead>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
                <th>Games played</th>
                <th>Goal diff</th>
            </thead>
            <tbody ng-repeat="score in scoreBoard.slice(0,4) | orderBy: ['rank'] | filter: playerFilter">
                <tr>
                    <td>
                        <img width="30" src="trophy.gif" class="trophy">
                    </td>
                    <td>{{score.player.split('@')[0]}}</td>
                    <td>{{score.score}}</td>
                    <td>{{score.gameCount}}</td>
                    <td>{{score.goalDifference}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="float: left">
        <h3>Rest of Losers</h3>
        <table style="margin: 10px">
            <thead>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
                <th>Games played</th>
                <th>Goal diff</th>
            </thead>
            <tbody ng-repeat="score in scoreBoard.slice(4) | orderBy: ['rank'] | filter: playerFilter">
                <tr>
                    <td>{{score.rank}}</td>
                    <td>{{score.player.split('@')[0]}}</td>
                    <td>{{score.score}}</td>
                    <td>{{score.gameCount}}</td>
                    <td>{{score.goalDifference}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>