<div ng-if="!loaded">Loading...</div>
<div  ng-if="loaded">
    <p>
        Note: Selection of score from dropdowns is instantly persisted and irreversible! Please pay extra attention to report correct scores on first try.
    </p>
    <table>
            <thead>
                <th>Home team</th>
                <th>Score</th>
                <th></th>
                <th>Score</th>
                <th>Guest team</th>
            </thead>
            <tbody ng-repeat="game in games">
                <tr>
                    <td>{{game.team1Player1.split('@')[0]}}<br/>{{game.team1Player2.split('@')[0]}}</td>
                    <td ng-if="game.team1Score">{{game.team1Score}}</td>
                    <td ng-if="!game.team1Score">
                        <select ng-model="game.team1Score" ng-change="submitScore(game)" ng-options="score for score in [1,2,3,4,5,6,7,8,9,10]">
                        </select>
                    </td>
                    <td>vs</td>
                    <td ng-if="game.team2Score">{{game.team2Score}}</td>
                    <td ng-if="!game.team2Score">
                        <select ng-model="game.team2Score" ng-change="submitScore(game)" ng-options="score for score in [1,2,3,4,5,6,7,8,9,10]">
                        </select>
                    </td>
                    <td>{{game.team2Player1.split('@')[0]}}<br/>{{game.team2Player2.split('@')[0]}}</td>
                    
                </tr>
            </tbody>
    </table>
</div>