<h2>Leader Board</h2>
<div ng-if="!loaded">Loading...</div>
<div>
    <div align="right">
        Filter: <input ng-model="playerFilter" autofocus/>
    </div>
    <br/>
    <table ng-if="loaded" id="leaderBoard" class="tablesorter">
            <thead>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
                <th>Games played</th>
                <th>Goal diff</th>
            </thead>
            <tr class="tableHeader">
                <td colspan=5>Current Finalists</td>
            </tr>
            <tbody ng-repeat="score in scoreBoard | orderBy: ['rank'] | filter: playerFilter">
                <tr ng-class="score.rank <= 4 ? 'topFour' : 'none' "> 
                    <td ng-if="score.rank <= 4"><img  width="30" src="trophy.gif" class="trophy"></td>
                    <td ng-if="score.rank > 4">{{score.rank}}</td>
                    <td>{{score.player.split('@')[0]}}</td>
                    <td>{{score.score}}</td>
                    <td>{{score.gameCount}}</td>
                    <td>{{score.goalDifference}}</td>
                </tr>
                <tr class="tableHeader" ng-if="score.rank == 4">
                        <td colspan=5>Rest of Losers</td>
                </tr>
            </tbody>
    </table>
</div>